.container {
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.main {
  border: 2px solid rgb(207, 255, 192);
  background-color: blue;
  flex-grow: 1;
}

.main__article {
  width: 80%;
  max-width: 500px;
}

.searchBar {
  width: 100%;
}

.toto {
  width: 100%;
}
