.container {
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #1b4332;
  flex-grow: 1;
}

.main__article {
  width: 80%;
  max-width: 500px;
}

.searchBar {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchBarInput {
  display: inline;

  width: 80%;
}
